{% extends 'base.html' %}

{% block title %} Edit Blog Post {% endblock %}

{% block content%}

  {% if user.is_authenticated and user.id == post.author.id %}
    <h1>Update Post</h1>

    <br/>
    <form method="POST">
      <div class="form-group">
        {% csrf_token %}

        {{ form.media }}
        {{ form.as_p }}

        <button class="btn btn-secondary">Update</button>
      </div>
    </form>
  {% else %}
    You are not allowed here! (and you know it...)
  {% endif %}
  
{% endblock %}
